{{#partial "content"}}
    {{#if heroes}}
    <div class="body-overlay"></div>
           <img src="https://www.cnet.com/a/img/hkUYHalOA9_225I8mTRq9ejohQs=/1200x630/2017/10/12/164d6d22-0db8-4603-a672-cb8c07e447b8/netpicks-the-flash.jpg" class="img-fluid bg-image">
              <nav class="navbar navbar-expand-lg bg-light" id="navbar">
                  <a href="/" class="navbar-brand"><img src="https://www.pngitem.com/pimgs/m/408-4083826_flash-logo-png-transparent-png.png"  id="nav-logo"></a>
                       <h1 id="nav-title">HERO SQUAD</h1>
                    <ul class="navbar-nav">
                       <li class="nav-item active">
                          <a class="nav-link" href="/">Home</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link" href="#">Add Squad</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link" href="#">All Squads</a>
                       </li>
                    </ul>
              </nav>
        <div class="animated rotateInUpLeft medium">
            <form action="/squads/{{heroes.id}}/new" method="post">
                <div class="modal-dialog cascading-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header teal darken-4 white-text">
                            <h4 class="title">
                                <i class="fa fa-pencil-alt"></i> Hero Details</h4>
                            <a href="/squads/{{heroes.id}}">
                                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </a>
                        </div>
                        <div class="modal-body">
                            <div class="md-form form-sm">
                                <i class="fas fa-mask"> Hero Name</i>
                                <input type="text" name="hero" class="form-control form-control-sm" placeholder="e.g. Spider-man">
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-bolt"> Super-Power</i>
                                <input type="text" name="superPowers" class="form-control form-control-sm" placeholder="e.g. The human spider">
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-star"> Role</i>
                                <input type="text" name="role" class="form-control form-control-sm" placeholder="e.g. Intern">
                            </div>
                            <select id="inputState" class="form-control" name="squadId">
                                {{#each squads}}
                                    <option value="{{id}}">{{squadName}}</option>
                                {{/each}}
                            </select>
                            <div class="text-center mt-4 mb-2">
                                <button class="btn btn-outline-teal darken-4" type="submit">Add
                                    <i class="fa fa-send ml-2"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    {{else}}
        <p class="text-center" style="font-weight:bold;margin-top:20%;">Invalid request</p>
    {{/if}}
{{/partial}}
{{> layout.hbs}}